In [ ]:
teststr="Lakshmi"
new_str = ""
for i in range(len(teststr)):
    if i != 2:
        new_str = new_str + teststr[i]
    print ("The string after removal of i'th character : " + new_str)

In [ ]:
def multiplication_or_sum(num1, num2):
    product = num1 * num2
    if product <=1000:
        return product
    else:
        return num1 + num2

result = multiplication_or_sum(20,30)
print("The result is = ", result)
result = multiplication_or_sum(50,10)
print("The result is = ", result)

In [ ]:
num = 0
for i in range(10):
    sum = num + i
    print(f'Current number {i} Previous Number {num} is {sum}')
    num = i

In [ ]:
print("Please enter text to print::")
inputchars = input()
if inputchars:
    string = ""
     for i in inputchars:
            if inputchars.index(i)%2 == 0:
                 string += str(i)
                     print("You Entered:", inputchars)
                    print("Result:")
                    print(string)

In [ ]:
string=input('Enter a string:')
    even=[]
    odd=[]
    for i in range(len(string)):
        if i%2==0:
             even.append(string[i])
        else:
             odd.append(string[i])
    print('Even index number {}'.format(even))

In [ ]:
nums = [] 
for i in range(5): 
    num = int(input('Give me a number:')) 
    nums.append(num) 
 
 for i in nums: 
    if i % 5 == 0: 
        print(i)

In [ ]:
message = 'My name is Lakshmi'
print('Number of occurrence of is:', message.count('is'))

In [ ]:
print('My', 'Name', 'Is', 'James', sep='**')

In [ ]:
num = 8
print('%o' % num)

In [ ]:
for income in [5000,10000,16777]:

    if income <= 10_000:
        tax = 0
    elif income <= 20_000: 
        tax = (income - 10_000) * 0.1              
    else:
        tax = (income-20_000) * 0.2 +  10_000*0.1  

    print(f"For income {income}, You owe {tax} dollars in tax!" )

In [ ]:
username=input("Enter Your Name: ")
if username=='Bond':
     print("Welcome on board 007.")
else:
    print("Good morning",username)

In [ ]:
a = [1, 2, 3, 4, 5] 
for x in range(len(a)): 
    print (a[x])

In [ ]:
num = 75869
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

In [ ]:
for num in range(-10, 0, 1):
    print(num)

In [ ]:
for i in range(5):
    print(i)
else:
    print("Done!")

In [ ]:
quantity = 3
totalMoney = 1000
price = 450
statement1 = "I have {1} dollars so I can buy {0} football for {2:.2f} dollars."
print(statement1.format(quantity, totalMoney, price))

In [ ]:
list = [31, 42, 13, 34, 85, 0, 99, 1, 3]
print("The list is :")
print(list)
print("The elements in odd positions are : ")
for i in range(1, len(list), 2):
   print(list[i])

In [ ]:
test_str = 'helloworld'

print("The original string is : " + str(test_str))
mid_str = "python"

temp = test_str.split()
mid_pos = len(temp) // 2

res = temp[:mid_pos] + [mid_str] + temp[mid_pos:]

res = ' '.join(res)
 
print("Formulated String : " + str(res))

In [ ]:
str1 = "Lakshmi"
print("The original string is : " + str(str1))
res = str1[0].lower() + str1[1:]
print("The string after lowercasing initial character : " + str(res))

In [ ]:
str1 = "Welcome to INDIA. India awesome, isn't it?"
sub_string = "INDIA"
temp_str = str1.lower()
count = temp_str.count(sub_string.lower())
print("The INDIA count is:", count)

In [ ]:
str1 = "Apple"
char_dict = dict()
for char in str1:
    count = str1.count(char)
    char_dict[char] = count
print('Result:', char_dict)

In [ ]:
list1 = ["M", "na", "i", "Laks"] 
list2 = ["y", "me", "s", "hmi"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
res = []
for i in numbers:
    res.append(i * i)
print(res)

In [ ]:
l1 = [10, 20, 30, 40]
l2 = [100, 200, 300, 400]

for x, y in zip(l1, l2[::-1]):
    print(x, y)

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None, list1))
print(res)

In [ ]:
l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l1[2][2].append(7000)
print(l1)

In [ ]:
num1= input("enter first number")
num2=input("enter second number")
print(num1,num2)

In [ ]:
l1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
l1[2][1][2].extend(sub_list)
print(l1)

In [ ]:
l1 = [5, 10, 15, 200, 25, 30, 35]
index = l1.index(200)
l1[index] = 20
print(l1)

In [ ]:
l1 = [5, 20, 15, 20, 25, 50, 20]
def remove_value(list, val):
    return [i for i in list if i != val]
res = remove_value(l1, 20)
print(res)

In [ ]:
keys = ["Abi", "Aashish", "Varsha"]
values = [1, 3, 10]
print("Original key list is : " + str(keys))
print("Original value list is : " + str(values))
res = {}
for key in keys:
    for value in values:
        res[key] = value
        values.remove(value)
        break
print("Resultant dictionary is : " + str(res))

In [ ]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
dict1 = {'c': 1, 'd': 3}
dict2 = {'a': 6, 'b': 10}
print(Merge(dict1, dict2))
print(dict2)

In [ ]:
Dict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 100,
                "history": 80
            }
        }
    }
}
print(Dict['class']['student']['marks']['physics'])

In [ ]:
Dict = { 
  "name": "Aakash",
  "age":25, 
  "salary": 20000, 
  "city": "Chennai" }
keys = ["name", "salary"]
newDict = {k: Dict[k] for k in keys}
print(newDict)

In [ ]:
Dict = {
    "name": "Aakash",
    "age": 25,
    "salary": 8000,
    "city": "Bangalore"
}
keys = ["name", "salary"]
Dict = {k: Dict[k] for k in Dict.keys() - keys}
print(Dict)

In [ ]:
Dict = {'a': 100, 'b': 200, 'c': 300}
if 100 in Dict.values():
    print('200 present in the given dictionary')

In [ ]:
Dict = {
    "name": "Akshaya",
    "age": 20,
    "salary": 9000,
    "city": "Hyderabad"
}
Dict['location'] = Dict.pop('city')
print(Dict)

In [ ]:
Dict = {
    'Physics': 82,
    'Maths': 65,
    'history': 75
}
print(min(Dict, key=Dict.get))

In [ ]:
Dict = {
    'emp1': {'name': 'Lakshmi', 'salary': 12000},
    'emp2': {'name': 'Praga', 'salary': 14000},
    'emp3': {'name': 'Shwetha', 'salary': 16000}
}
Dict['emp2']['salary'] = 18000
print(Dict)

In [ ]:
t1 = (10, 20, 30, 40, 50)
t1 = t1[::-1]
print(t1)

In [ ]:
t1 = ("Black", [10, 20, 30], (5, 15, 25))
print(t1[1][1])

In [ ]:
t1= (50)
print(t1)

In [ ]:
t1 = (10, 20, 30, 40)
a, b, c, d = t1
print(a)
print(b)
print(c)
print(d)

In [ ]:
t1 = (18, 20)
t2 = (4, 97)
t1, t2 = t2, t1
print(t2)
print(t1)

In [ ]:
t1 = (10, 20, 30, 40, 50, 60)
t2 = t1[3:-1]
print(t2)

In [ ]:
t1 = (11, [22, 33], 44, 55)
t1[1][0] = 222
print(t1)

In [ ]:
tuple1 = (('a', 11), ('b', 12), ('c', 13), ('d', 14))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(t1)

In [ ]:
t1 = (50, 10, 60, 70, 50)
print(t1.count(50))

In [ ]:
set = {"Yellow", "Orange", "Black"}
list = ["Blue", "Green", "Red"]
set.update(list)
print(set)

In [ ]:
def check(t):
    return all(i == t[0] for i in t)
t1 = (45, 45, 45, 45)
print(check(t1))

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.intersection(set2))

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.union(set2))

In [ ]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print(set1)

In [ ]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.symmetric_difference(set2))

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)